{% extends "../base_entrance.html" %}
{% load i18n %}
{% load baseauths %}
{% block head_title %}
    {% translate "Default Password" %}
{% endblock head_title %}

{% block content %}
    {% element img src=logo_login_alert style="width: auto; height:32px" alt="Wing Digital" %} {% endelement %}
    {% element hr %} {% endelement %}
    {% element p %}
        Hi <strong>{{first_name|capfirst}}</strong>,
    {% endelement %}
    {% element p %}
        This your wing career default password if you want to login normal not with third party app.
    {% endelement %}
    {% element h2 style="text-align: center; color:rgb(171, 23, 33); margin:0" %}
        {{ default_password }}
    {% endelement %}
    {% element h6 style="text-align: center; color:rgb(80, 60, 169); margin:0" %}
    Example:
        Your registered email is: johny12@email.com
        Your username is: johny12 
    {% endelement %}
    
    {% element p style="text-align: center;" %}
        {% element span %} {{ user_agent }}, {% endelement %}
        {% element br %} {% endelement br %}
        {% if location != None %}
            {% element span %} {{ location }}, {% endelement %}
            {% element br %} {% endelement br %}
        {% endif %}
        {% element span style="color: #777;" %} {{ send_at }} {% endelement %} 
        {% element br %} {% endelement br %}
        {% element span style="color: #777;" %} If you didn't request this, you can safely ignore this email. {% endelement %}
    {% endelement %}
    {% element hr %} {% endelement %}
    {% element p style="margin: 0; text-align: center; color: #777;" %}
        From {% element br %} {% endelement br %}
        {% element img src=logo_transparency style="width: 110px; height:auto" alt="Wing Digital" %} {% endelement %}
    {% endelement %}

    {% element p style="margin: 0; font-size: 10px; letter-spacing: normal; text-align: center; color: #777;" %}
        &#174;Wing, Preah Monivong Blvd. corner Kampuchea Krom Blvd., Phum 6, Sangkat Monourom, Khan Prampir Meakkakra, Phnom Penh.
    {% endelement %}
    {% element p style="margin-top: 3px; font-size: 10px; letter-spacing: normal; text-align: center; color: #777;" %}
        This message was sent to {% element a style="text-decoration: none; color: #A9CB37;" %} {{recipient}}{% endelement %}.
        To help keep your account secure, please don't forward this email.
    {% endelement %}
{% endblock content %}
