# DOCKER and DOCKER-COMPOSE
EXPOSE_PORT="XXXX"
COMPOSE_PROJECT_NAME="your_docker_compose_name"

# DJANGO Configuration
DJANGO_ENV=prod
DJANGO_DEBUG=False
DJANGO_SECRET_KEY="XXXX"

# DB Connection
DB_NAME="your_key"
DB_USER=postgres
DB_PASSWORD="your_password"
DB_HOST="your_host"
DB_PORT="your_port"
DB_ENGINE=django.db.backends.postgresql

# ELASTICSEARCH
ES_HOST=localhost
ES_PORT=9200
ES_PROTOCOL="https://"
ES_USERNAME="your_username"
ES_PASSWORD="your_password"

# EMAIL
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST="your_mail_host"
EMAIL_PORT=25
EMAIL_HOST_PASSWORD=
EMAIL_HOST_USER=
EMAIL_USE_TLS=False
EMAIL_DEFAULT_FROM_EMAIL="your_default_mail_from"
EMAIL_DEFAULT_TO_EMAIL="your_default_mail_to"
EMAIL_ENABLE_REAL_EMAIL=True
EMAIL_ENABLE_MOBILE_NOTIFICATION=False
EMAIL_ENABLE_REAL_MOBILE_NOTIFICATION=False
EMAIL_DEFAULT_ORIGINAL_ID=600
EMAIL_IS_SEND_DEFAULT_PASSWORD=False

# CELERY
CELERY_BROKER_URL="your_url"
RABBIT_MQ_PATH="your_path"
CELERY_RESULT_BACKEND="rpc://"

# Redis Configuration
REDIS_HOST="your_host"
REDIS_PORT=6380
REDIS_PASSWORD=123456
REDIS_RESULT_EXPIRES=3600

# Redis interval
REDIS_FLUSH_INTERVAL_SECONDS=300
DIRTY_FLUSH_INTERVAL_SECONDS=300

# AUTH JWT Configuration
JWT_COOKIE_SECURE=True
JWT_COOKIE_SAMESITE=None
JWT_COOKIE_HTTP_ONLY=True
JWT_ACCESS_COOKIE=access
JWT_REFRESH_COOKIE=refresh
JWT_COOKIE_DOMAIN="your_domain"
JWT_SIGNING_KEY="your_key"
JWT_VERIFYING_KEY="your_key"

# AUTH JWT ACCESS AND REFRESH TOKE LIFE TIME
JWT_ACCESS_TOKEN_LIFETIME_SECONDS=300
JWT_REFRESH_TOKEN_LIFETIME_SECONDS=1209600

# CORS Configuration
CORS_ALLOW_CREDENTIALS=True
CORS_ORIGIN_ALLOW_ALL=False
CORS_ORIGIN_WHITELIST=frontend_url

# SECURITY
ALLOWED_HOSTS="your_prod_hosts1, your_prod_hosts2"

# DEFAULT PASSWORD
DEFAULT_PASSWORD="XXXX"

PASSWORD_ENCRYPTION=False
PASSWORD_EXPIRE_MINUTES=100
SECURITY_LOGIN_THROTTLING_FAIL_LOGIN_COUNT=10
SECURITY_LOGIN_THROTTLING_TIME_RESET_FAIL_LOGIN_MINUTE=10

# SWAGGER
SWAGGER_PREFIX=

# FILE Configuration(old)
FILE_UPLOAD_ALLOWED_EXTENSIONS=[]
FILE_UPLOAD_MAX_SIZE_MB=100
FILE_ACCESS_TIMEOUT=900
FILE_ACCESS_LIFETIME=900

# TIME ZONE Configuration
TIME_ZONE="Asia/Phnom_Penh"

# Frontend APP Redirect URL
APP_URLS_API_BASE="your_url"
APP_URLS_WEB_BASE="your_url"
APP_URLS_WEB_BASE_LOGIN="your_url"

# AUTHENTICATION WEB
# 1. GOOGLE
AUTH_PROVIDERS_WEB_CLIENT_GOOGLE_OAUTH2_CLIENT_ID="your_key"
AUTH_PROVIDERS_WEB_CLIENT_GOOGLE_OAUTH2_CLIENT_SECRET="your_key"
AUTH_PROVIDERS_WEB_CLIENT_GOOGLE_OAUTH2_REDIRECT_URI="your_url"

# 2. LINKEDIN
AUTH_PROVIDERS_WEB_CLIENT_LINKEDIN_OPENIDCONNECT_CLIENT_ID="your_key"
AUTH_PROVIDERS_WEB_CLIENT_LINKEDIN_OPENIDCONNECT_CLIENT_SECRET="your_key"
AUTH_PROVIDERS_WEB_CLIENT_LINKEDIN_OPENIDCONNECT_REDIRECT_URI="your_url"

# AUTHENTICATION MOBILE
# 1. GOOGLEAUTH
AUTH_PROVIDERS_MOBILE_CLIENT_GOOGLE_ANDROID_OATH2_CLIENT_ID="your_key"
AUTH_PROVIDERS_MOBILE_CLIENT_GOOGLE_IOS_OATH2_CLIENT_ID="your_key"

# 2. LINKEDIN
AUTH_PROVIDERS_MOBILE_CLIENT_LINKEDIN_OPENIDCONNECT_CLIENT_ID="your_key"
AUTH_PROVIDERS_MOBILE_CLIENT_LINKEDIN_OPENIDCONNECT_CLIENT_SECRET="your_key"
AUTH_PROVIDERS_MOBILE_CLIENT_LINKEDIN_OPENIDCONNECT_REDIRECT_URI="your_url"

# 3. APPLE
SOCIAL_AUTH_APPLE_BUNDLE_ID="your_key"
SOCIAL_AUTH_APPLE_ID_CLIENT="your_key"
SOCIAL_AUTH_APPLE_ID_REDIRECT_URI=""
SOCIAL_AUTH_APPLE_TEAM_ID="your_key"
SOCIAL_AUTH_APPLE_KEY_ID="your_key"
SOCIAL_AUTH_APPLE_PRIVATE_KEY="your_key"

# OTP Configuration
OTP_LIMIT_RESEND=3

# WDG NOTIFICATION SERVICE
WDG_NOTIFICATION_BASE_URL="your_url"
WDG_NOTIFICATION_APP_ID="your_key"
WDG_NOTIFICATION_SECRET_KEY="your_key"
WDG_NOTIFICATION_IS_ENABLE=True

# WDG STORAGE for S3 config options
AWS_S3_REGION_NAME=None
AWS_S3_PRESIGN_EXPIRE=3600
AWS_STORAGE_BUCKET_NAME="your_key"
AWS_S3_ACCESS_KEY_ID="your_key"
AWS_S3_SECRET_ACCESS_KEY="your_key"
AWS_S3_ENDPOINT_URL="your_url"
WDG_STORAGE_PATH="path_example"
WDG_STORAGE_SAVE_METADATA=True
WDG_STORAGE_PROXY_URL="your_url"

# PERMISSION CATCHING
AUTH_PERMISSION_CACHE_ENABLED=True
REDIS_URL="your_url"

# AUTH PASSWORD ENCRYPTION
AUTH_PASSWORD_ENCRYPTION=False
AUTH_PRIVATE_KEY="your_key"
AUTH_PUBLIC_KEY="your_key"

# CV Scan Configuration
CV_SCAN_URL="your_url"
CV_SCAN_SECRET_KEY="your_key"
CV_SCAN_GET_TOKEN_URL="your_url"
CV_SCAN_BASIC_TOKEN="your_key"

# Single use TOKEN for OTP verified
SINGLE_USE_TOKEN_SECRET="your_key"
RESET_PASS_TOKEN_EXPIRY_SECONDS=900

# 2FA Configuration
TWO_STEP_VERIFICATION=False

# ALTCHA(reCAPTCHA) Configuration
ALTCHA_EXPIRY=300
ALTCHA_DESIRED_MAX_NUMBER=750000
ALTCHA_HMAC_KEY="your_key"

# TELEGRAM OIDC
TELEGRAM_CLIENT_ID=bot_id
TELEGRAM_CLIENT_SECRET=secret-key
TELEGRAM_TOKEN_URI="https://oauth.telegram.org/token"
TELEGRAM_JWKS_URI="https://oauth.telegram.org/.well-known/jwks.json"
TELEGRAM_REDIRECT_URI="https://dev-connectjob.connectkh.com/api/auth/telegram/callback"
TELEGRAM_MOBILE_REDIRECT_URI="demoapp://login/telegram/callback"