{% extends "base_entrance.html" %}
{% load i18n %}
{% load baseauths %}
{% block head_title %}
    {% translate "Reset Password" %}
{% endblock head_title %}


{% block content %}
    {% element img src=logo_reset_password style="width: auto; height:35px" alt="Wing Career" %} {% endelement %}
    {% element hr %} {% endelement %}
    {% element p %}
        Hi <strong>{{first_name|capfirst}}</strong>,
    {% endelement %}
    {% element p %}
        We received a request to reset your Wing Career password. Please go to the following page and Enter a new password.
    {% endelement %}

    {% element h2 style="text-align: center; color: #A9CB37; margin:0" %}
        {% element a style="color: #A9CB37;" href=reset_link %}Reset Link{% endelement %}
    {% endelement %}

   {% element p %}
        Your username, in case you've forgotten: {{username}}
    {% endelement %}

    {% element p style="text-align: center;" %}
        {% element span %} {{ user_agent }}, {% endelement %}
        {% element br %} {% endelement br %}
        {% if location != None %}
            {% element span %} {{ location }}, {% endelement %}
            {% element br %} {% endelement br %}
        {% endif %}
        {% element span style="color: #777;" %} {{ send_at }} {% endelement %} 
        {% element br %} {% endelement br %}
        {% element span style="color: #777;" %} If you didn't request this, you can safely ignore this email. {% endelement %}
    {% endelement %}
    {% element hr %} {% endelement %}
    {% element p style="margin: 0; text-align: center; color: #777;" %}
        From {% element br %} {% endelement br %}
        {% element img src=logo_transparency style="width: 110px; height:auto" alt="Wing Digital" %} {% endelement %}
    {% endelement %}

    {% element p style="margin: 0; font-size: 10px; letter-spacing: normal; text-align: center; color: #777;" %}
        &#174;Wing, Preah Monivong Blvd. corner Kampuchea Krom Blvd., Phum 6, Sangkat Monourom, Khan Prampir Meakkakra, Phnom Penh.
    {% endelement %}
    {% element p style="margin-top: 3px; font-size: 10px; letter-spacing: normal; text-align: center; color: #777;" %}
        This message was sent to {% element a style="text-decoration: none; color: #A9CB37;" %} {{recipient}}{% endelement %}.
        To help keep your account secure, please don't forward this email.
    {% endelement %}
{% endblock content %}
